@import "src/styles/utils";

$customPadding: 11.5px 15px 11.5px 10px;
.TxDisplay-table {
	overflow-x: auto;
	overflow-y: hidden;
	min-width: 320px;

	.tableHeaderCell {
		@include tableHeaderCellWidth300;
		@include tableHeaderPadding;
		padding: $customPadding;
		color: var(--colorMainText);
	}

	.txHashWidth {
		min-width: 100px;
	}
	.height {
		@include media("<dash_table_limit") {
			display: none;
		}
	}

	.typeWidth {
		min-width: 100px;
	}

	.timeWidth {
		min-width: 50px;
	}
}
