@import "src/styles/utils";

.TxTable-wrapper {
	overflow-x: auto;
	overflow-y: hidden;
	min-width: 300px;
	.tableHeaderCell {
		@include tableHeaderCellWidth300;
		color: var(--colorMainText);
		@include tableElemPadding;
	}
		
	.header {
		
		.txHash {
			min-width: 145px;
		}
		
		.type {
			min-width: 140px;
		}
		
		.address {
			min-width: 280px;
		}
		
		.value {
			min-width: 140px;
		}
		
		.currency {
			min-width: 82px;
		}
		
		.time {
			min-width: 88px;
		}
	}
}