@import "src/styles/utils";

.AssetDetails-wrapper {
	@include card-nopadding-wrapper();
	padding: 15px 19px 20px;
	margin-bottom: 15px;

	.header {
		display: flex;
		flex-flow: row;
		align-items: center;
		justify-content: space-between;
		@include media("<small") {
			flex-flow: column;
			align-items: flex-start;
			justify-content: center;
			.asset {
				margin-bottom: 15.3px;
			}
		}
		.asset {
			display: flex;
			flex-flow: row;
			align-items: center;
			> :first-child {
				margin-right: 15px;
			}
			.text {
				font-family: "Open Sans", serif;
				font-stretch: normal;
				font-style: normal;
				letter-spacing: normal;
				color: #222222;
				p {
					line-height: 1.36;
					font-size: 22px;
					font-weight: 600;
				}
				.currency {
					font-size: 15px;
					font-weight: normal;
					line-height: 1.33;
					color: #89909b;
				}
			}
		}
		.clickables {
			height: 35px;
			img {
				width: 35px;
				height: 35px;

				object-fit: contain;
			}
			:not(:last-child) {
				margin-right: 10px;
			}

			@include media("<small") {
				height: 30.5px;
				img {
					max-width: 30.5px;
					max-height: 30.5px;
					object-fit: contain;
				}
				:not(:last-child) {
					margin-right: 8px;
				}
			}
			
			.binanceResearch {
				content: url("../../../assets/assets/research_btn.svg");
				&:hover {
					content: url("../../../assets/assets/research_btn_hover.svg");
				}
			}

			.facebook {
				content: url("../../../assets/assets/facebook_btn.svg");
				&:hover {
					content: url("../../../assets/assets/facebook_btn_hover.svg");
				}
			}
			.twitter {
				content: url("../../../assets/assets/twitter_btn.svg");
				&:hover {
					content: url("../../../assets/assets/twitter_btn_hover.svg");
				}
			}
			.medium {
				content: url("../../../assets/assets/medium_btn.svg");
				&:hover {
					content: url("../../../assets/assets/medium_btn_hover.svg");
				}
			}
			.instagram {
				content: url("../../../assets/assets/instagram_btn.svg");
				&:hover {
					content: url("../../../assets/assets/instagram_btn_hover.svg");
				}
			}
			.reddit {
				content: url("../../../assets/assets/reddit_btn.svg");
				&:hover {
					content: url("../../../assets/assets/reddit_btn_hover.svg");
				}
			}
			.youtube {
				content: url("../../../assets/assets/youtube_btn.svg");
				&:hover {
					content: url("../../../assets/assets/youtube_btn_hover.svg");
				}
			}
			.telegram {
				content: url("../../../assets/assets/telegram_btn.svg");
				&:hover {
					content: url("../../../assets/assets/telegram_btn_hover.svg");
				}
			}
			.info {
				content: url("../../../assets/assets/binance_info_btn.svg");
				&:hover {
					content: url("../../../assets/assets/binance_info_btn_hover.svg");
				}
			}
			.linkedin {
				content: url("../../../assets/assets/linkedin_btn.svg");
				&:hover {
					content: url("../../../assets/assets/linkedin_btn_hover.svg");
				}
			}
			.github {
				content: url("../../../assets/assets/github_btn.svg");
				&:hover {
					content: url("../../../assets/assets/github_btn_hover.svg");
				}
			}
			.email {
				content: url("../../../assets/assets/email_btn.svg");
				&:hover {
					content: url("../../../assets/assets/email_btn_hover.svg");
				}
			}
			.discord {
				content: url("../../../assets/assets/discord_btn.svg");
				&:hover {
					content: url("../../../assets/assets/discord_btn_hover.svg");
				}
			}
			.coinmarketcap {
				content: url("../../../assets/assets/coinmarketcap_btn.svg");
				&:hover {
					content: url("../../../assets/assets/coinmarketcap_btn_hover.svg");
				}
			}
			.steemit {
				content: url("../../../assets/assets/steemit_btn.svg");
				&:hover {
					content: url("../../../assets/assets/steemit_btn_hover.svg");
				}
			}
		}
		margin-bottom: 15px;
	}
	.table {
		padding-top: 15px;

		.number-wrapper {
			//height: 20px;
			font-family: "Open Sans", serif;
			font-size: 15px;
			font-weight: normal;
			font-stretch: normal;
			font-style: normal;
			letter-spacing: normal;
			text-align: left;
			color: #4b525d;
			.decimal {
				font-size: 13px;
			}
			.green {
				color: #37cc6e;
			}
			.red {
				color: #ea0070;
			}
		}
	}
}

.divider {
	width: 100%;
	height: 0;
	border: solid 1px #e6e6e6;
}

.blueLink {
	cursor: pointer;
	color: #4472de;
}
