@import "src/styles/utils";
.HoldersTable-wrapper {
	overflow-x: auto;
	overflow-y: hidden;
	min-width: 300px;
	.table {
		@include media("<small") {
			display: none;
		}
		.tableHeaderCell {
			@include tableHeaderCellWidth300;
			@include tableElemPadding;
			color: var(--colorMainText);
		}

		.rank {
			min-width: 60px;
			width: 60px;
		}

		.address {
			min-width: 300px;
		}

		.quantity {
			min-width: 131px;
		}

		.Percentage {
			min-width: 70px;
		}
	}
	.thinTable {
		@include media(">=small") {
			display: none;
		}
	}
}
