.idea/
.vscode/
node_modules/
build
.npm/
template/src/__tests__/__snapshots__/

.DS_Store
*.tgz
my-app*
lerna-debug.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
/.changelog
yarn.lock

# misc
.env
.env.binance
.env.cosmos
.env.kava
.env.iris
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local
.firebaserc
firebase.json
functions/.eslintrc.json
functions/.gitignore
functions/index.js
functions/package-lock.json
functions/package.json
src/firebase.js
hosting*
