@import "src/styles/utils";

.notFound-wrapper {
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	min-height: calc(100vh - var(--heightHeader) - var(--heightSubHeader) - var(--heightFooter));

	img {
		width: 240px;
	}

	h2 {
		font-family: "Montserrat";
		font-size: 36px;
		line-height: 1.11;
		color: var(--colorMainText);
		margin-top: 20px;
	}
	.link {
		cursor: pointer;
		color: #4472de;
	}

	@include media("<medium") {
		img {
			width: 160px;
		}

		h2 {
			font-size: 20px;
		}
	}
}

.notFound_inBinance-wrapper {
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	min-height: calc(100vh - var(--heightHeader) - var(--heightSubHeader) - var(--heightFooter));
	
	font-family: "Montserrat", serif;
	font-weight: 500;
	font-stretch: normal;
	font-style: normal;
	letter-spacing: normal;
	color: #222222;
	.border {
		border-radius: 5px;
		padding: 5px 10px;
		
		border: 1px solid #D0D2D5;
		> p {
			font-size: 13px;
		}
		margin-bottom: 15px;
	}
	h2 {
		font-size: 30px;
		line-height: 1.23;
		margin-bottom: 40px;
	}
	> img {
		width: 90px;
		height: 90px;
		object-fit: fill;
		margin-bottom: 15px;
	}
	> button {
		display: flex;
		justify-content: center;
		align-items: center;
		cursor: pointer;
		background-image: linear-gradient(to right, #f1bc24, #fbd839);
		
		width: 229px;
		height: 50px;
		border-radius: 5px;
		//@include transition(all, ease, 0.25s);
		
		&:hover {
			//border: solid 1px #E0B321;
			//box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.2);
			//transform: scale3d(1.05,1.05,1.05);
			> img {
				@include springX;
			}
		}
		
		> span {
			font-size: 15px;
			line-height: 1.27;
			margin-right: 5px;
		}
		> img {
			height: 24px;
			width: 24px;
			object-fit: fill;
		}
	}
	@include media("<medium") {
		> img {
			margin-bottom: 5px;
		}
		> h2 {
			font-size: 18px;
			margin-bottom: 25px;
		}
		> button {
			width: 200px;
			height: 45px;
			> span {
				font-size: 12px;
				line-height: 1.1;
			}
			> img {
				height: 20px;
				width: 20px;
			}
		}
	}
}