@import "src/styles/utils";

.Address-wrapper {
	max-width: 1200px;
	height: fit-content;
	border-radius: 5px;
	background-color: #222222;

	color: #ffffff;
	padding: 24px 30px;
	@include Flex_LeftRight;
	@include media("<1080px") {
		padding: 18px 20px;
		flex-flow: column;
		align-items: flex-start;
	}
	.qr-address-wrapper {
		display: flex;
		padding: 6px 0;
		align-items: center;
		.qr-wrapper {
			@include Flex_center;
			width: 50.4px;
			height: 50.4px;
			border-radius: 5px;
			border: solid 1px #e6e6e6;
			background-color: #ffffff;
			cursor: pointer;
			
			img {
				object-fit: fill;
			}
			
			margin-right: 20.6px;
		}
		
		.AddressDisplay-wrapper {
			@include Flex-UpDown;
			font-family: "Open Sans", serif;
			padding: 5px 0;
			.label {
				font-size: 15px;
				font-weight: 600;
				line-height: 1.6;
			}
			.value {
				font-size: 14px;
				font-weight: normal;
				line-height: 1.71;
				display: flex;
				align-items: center;
				@include media("<small") {
					.front:after {
						content: "..."
					}
					.remove {
						display: none;
					}
				}
				
				p {
					margin-right: 8px;
				}
				
				img {
					cursor: pointer;
					object-fit: fill;
					width: 24px;
					height: 24px;
					content: url("/assets/account/copy_btn.svg");
					
					&:hover {
						content: url("/assets/account/copy_btn_over.svg");
					}
				}
			}
		}
	}
	.total-wrapper {
		font-family: "Open Sans", serif;
		font-size: 15px;
		font-weight: 600;
		font-stretch: normal;
		font-style: normal;
		letter-spacing: normal;
		text-align: left;
		color: #ffffff;
		.dollars {
			display: flex;
			font-size: 18px;
		}
		.compareBNB {
			display: flex;
			font-size: 14px;
			.BNB {
				color: #f0b90b;
			}
			
		}
	}
}

.BNB {
	color: #f0b90b;
}

.flexIt {
	display: flex;
}