@import "src/styles/utils";

.Address-wrapper {
	max-width: 1200px;
	height: fit-content;
	border-radius: 5px;
	background-color: #222222;

	color: #ffffff;
	padding: 24px 30px;
	@include Flex_LeftRight;
	@include media("<medium") {
		padding: 18px 20px;
		flex-flow: column;
		align-items: flex-start;
	}
	.qr-address-wrapper {
		display: flex;
		padding: 6px 0;
		align-items: center;
		.qr-wrapper {
			@include Flex_center;
			width: 50.4px;
			height: 50.4px;
			border-radius: 5px;
			border: solid 1px #e6e6e6;
			background-color: #ffffff;
			cursor: pointer;
			&:hover {
				background-color: #f1f1f1;
			}
			
			img {
				object-fit: fill;
			}
			
			margin-right: 20.6px;
		}
		
		.AddressDisplay-wrapper {
			font-family: "Open Sans", serif;
			.label {
				height: 28px;
				font-size: 15px;
				font-weight: 600;
			}
			.value {
				height: 28px;
				font-size: 14px;
				font-weight: normal;
				display: flex;
				align-items: center;
				@include media("<small") {
					.front:after {
						content: "..."
					}
					.remove {
						display: none;
					}
				}
				
				p {
					margin-right: 8px;
				}
				
				img {
					cursor: pointer;
					object-fit: fill;
					width: 24px;
					height: 24px;
					content: url("/assets/account/copy_btn.svg");
					
					&:hover {
						content: url("/assets/account/copy_btn_over.svg");
					}
				}
			}
		}
	}
	.statistics-wrapper {
		display: flex;
		max-width: 100%;
		font-family: "Open Sans", serif;
		font-size: 15px;
		font-weight: 400;
		font-stretch: normal;
		font-style: normal;
		letter-spacing: normal;
		text-align: left;
		color: #ffffff;
		@include media("<medium") {
			margin-top: 5px;
		}
		.total-wrapper {
			.currency {
				margin-right: 3px;
				span {
					font-size: 25px;
				}
			}
			.value {
				@include media("<small") {
					.front:after {
						content: "."
					}
					.remove {
						display: none;
					}
				}
			}
			.dollars {
				height: 40px;
				display: flex;
				font-size: 25px;
			}
			padding-right: 20px;
			border-right: solid 1px #4b525d;
			margin-right: 20px;
		}
		@include media("<440px") {
			flex-flow: column;
			.total-wrapper {
				border: none;
				margin-bottom: 10px;
			}
		}
		
		.compare-wrapper {
			.compareBNB {
				height: 40px;
				display: flex;
				font-size: 20px;
				:first-child {
					font-size: 25px;
					margin-right: 3px;
					@include media("<small") {
						span {
							max-width: 20px;
							overflow-x: hidden;
						}
					}
				}
				.BNB {
					align-self: flex-end;
					color: #f0b90b;
					font-size: 16px;
					margin-bottom: 2px;
				}
				padding-bottom: 2px;
			}
		}
	}
}

.BNB {
	color: #f0b90b;
}

.flexIt {
	display: flex;
}