@import "src/styles/utils";

.AssetList {
	display: flex;
	flex-flow: column;
	justify-content: center;

	@include page-wrapper;

	.StatusCard-grid {
		display: grid;
		grid-template-rows: 1fr;
		grid-column-gap: 15px;
		grid-template-columns: 1fr 1fr 1fr 1fr;
	}
}
