@import "src/styles/utils";

.Dropdown-wrapper {
	display: none;
	margin-top: 5px;
	padding: 10px;
	border-radius: 5px;
	border: #767f8d 1px solid;
	background-color: white;
	>:not(:last-child) {
		border-bottom: #cacfdc solid 1px;
	}
	.defaultText {
		display: none;
		:first-child {
			font-weight: 400;
			color: #767f8d;
			margin-right: 3px;
		}
		:last-child {
			font-weight: 600;
		}
	}
}

.visible {
	display: block !important;
}
