@import "src/styles/utils";

.BlockTxs-wrapper {
	width: 100%;
	color: var(--colorMainText);

	.title {
		@include Card-title;
	}
	.table {
		margin: 0 0 20px 0;
		@include media("<table_limit") {
			display: none;
		}
	}
	.thinTable {
		@include media(">=table_limit") {
			display: none;
		}
		> :nth-child(even) {
			background-color: #fbfbfc;
		}
	}
}
