@import "lib/all";

$breakpoints: (
	xxsmall: 360px,
	xsmall: 420px,
	small: 600px,
	medium: 980px,
	large: 1280px,
	wide: 1920px,
	img_tablet: 850px,
	img_mobile: 500px,
	img_pc: 1200px,
	table_limit: 1000px,
	dash_table_limit: 500px,
	asset_table_limit: 920px,
	//asset_details_table_limit: 1140px,,
);

$mainColor: #f0b90b;

:export {
	medium: 980px;
	small: 600px;
	xsmall: 420px;
}
