@import "src/styles/utils";

.txListTableWrapper {
  overflow-x: auto;
  min-height: 825px;
  .table {
    min-width: 1000px;
    .tableHeaderCell {
      @include tableHeaderCellWidth300;
      padding: 10px 30px 10px 20px;
      color: var(--colorMainText);
    }
    .heightWidth {
      width: 150px;
    }
    .txsWidth {
      width: 100px;
    }
  }
}