@import "src/styles/utils";

.txListTableWrapper {
	overflow-x: auto;
	overflow-y: hidden;
	min-height: 1160px;

	.table {
		@include media("<table_limit") {
			display: none;
		}
		min-width: 600px;

		.tableHeaderCell {
			@include tableHeaderCellWidth300;
			@include tableElemPadding;
			color: var(--colorMainText);
		}
		.padding-right10 {
			padding-right: 10px;
		}
		.padding-left10 {
			padding-left: 10px;
		}
		.addrWidth {
			min-width: 250px;
		}

		.txHashWidth {
			width: 110px;
		}

		.currencyWidth {
			width: 144px;
		}

		.txsWidth {
			width: 100px;
		}
	}
	.thinTable {
		@include media(">table_limit") {
			display: none;
		}
		.thinTableRows-wrapper {
			> :nth-child(even) {
				background-color: #fbfbfc;
			}
		}

		margin: 20px 0;
		width: 100%;
		height: fit-content;
		padding: 16px 0;
	}
}

.tableDivider {
	width: 100%;
	height: 0;
	border-bottom: solid 1px #e6e6e6;
}
