@import "src/styles/utils";

.SpeechBubble {
  font-family: "Montserrat", "Open Sans", serif;
  font-size: 15px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.27;
  letter-spacing: normal;
  text-align: left;
  color: #222222;
}