@import "src/styles/utils";

.routerContainer {
	width: 100%;
	//margin: 0 auto;
	padding: calc(var(--heightHeader) + var(--heightSubHeader)) 0 0 0;
	min-height: calc(100vh - var(--heightFooter));

	@include media("<large") {
		padding: var(--heightHeader) 15px 1.8rem
	}

	@include media("<medium") {
		width: 100%;
		padding: var(--heightHeader) 10px 10px 10px;
	}
}
