@import "src/styles/utils";

.MsgList-wrapper {
	@include card-wrapper(64px);
	@include media("<large") {
		margin-bottom: 40px;
	}
	.title {
		border-bottom: var(--border);
		@include Card-title;
	}
	.grid-wrapper {
		margin: 15.5px 0 20px;
		.trade-wrapper {
			margin-left: 209px;
			width: 465px;
			height: 90px;
			margin-bottom: 20px;

			display: flex;
			justify-content: space-between;
			align-items: center;

			@include media("<medium") {
				margin-left: 0;
			}
			@include media("<small") {
				width: 200px;
				flex-flow: column;
				height: fit-content;
				align-items: flex-start;
			}
			.box-wrapper {
				width: 200px;
				height: 90px;
				border-radius: 5px;
				border: solid 1px #e6e6e6;
				background-color: #f9fafc;

				padding: 10px 15px 15px 10px;

				display: flex;
				flex-flow: column;
				justify-content: space-between;
				.icon-wrapper {
					align-self: flex-start;
					width: 90px;
					height: 28px;

					display: flex;
					flex-flow: row;
					align-items: center;
					img {
						margin-right: 8px;
					}
					.icon {
						font-family: "Montserrat", serif;
						font-size: 15px;
						font-weight: 500;
						font-stretch: normal;
						font-style: normal;
						line-height: 1.27;
						letter-spacing: normal;
						text-align: left;
						color: #222222;
					}
				}
				.value {
					align-self: flex-end;
					font-family: "Montserrat", serif;
					font-size: 18px;
					font-weight: 500;
					font-stretch: normal;
					font-style: normal;
					line-height: 1.22;
					letter-spacing: normal;
					text-align: left;
					color: #222222;
					span {
						font-size: 15px;
					}
				}
			}
			.symbol-wrapper {
				width: 26px;
				height: 22px;
				@include media("<small") {
					margin: 20.2px auto;
					img {
						transform: rotate(90deg);
					}
				}
			}
		}
		.txType-wrapper {
			display: flex;
			align-items: center;
			height: 20px;
			.txType-img {
				height: 32px;
				width: 32px;
				font-size: 10px;
				overflow: visible;
				object-fit: cover;
				margin-right: 4px;
				@include media("<medium") {
					width: 32px;
					height: 32px;
				}
			}
			@include media("<650px") {
				margin-bottom: 0;
				margin-top: 11px;
			}
		}
	}
}

.symbol-link {
	cursor: pointer;
	display: flex;
	align-items: center;
	width: fit-content;
	p {
		font-family: "Open Sans", serif;
		font-size: 15px;
		font-weight: normal;
		font-stretch: normal;
		font-style: normal;
		letter-spacing: normal;
		text-align: left;
		color: #4472de;

		margin-right: 3.5px;
	}
}

.blueColor {
	color: #4472de;
	text-transform: none;
}

.color-red {
	color: #ff2745;
}

.color-blue {
	color: #37CC6E
}