@import "src/styles/utils";

.BlocksDisplay-table {
	overflow-x: auto;
	overflow-y: hidden;
	min-width: 310px;

	.tableHeaderCell {
		@include tableHeaderCellWidth300;
		@include tableHeaderPadding;
		color: var(--colorMainText);
	}

	.heightWidth {
		min-width: 50px;
	}

	.proposer {
		min-width: 70px;
		@include media("<dash_table_limit") {
			display: none;
		}
	}

	.timeWidth {
		min-width: 60px;
	}
}
