@import "src/styles/utils";

.infoRow-grid {
	display: grid;
	grid-template-rows: 20px;
	grid-template-columns: 203px 1fr;
	margin-bottom: 10px;
	@include media("<medium") {
		grid-template-rows: 20px 20px;
		grid-template-columns: 1fr;
		grid-row-gap: 10px;
		margin-bottom: 14px;
		&:last-child {
			margin-bottom: 0;
		}
	}
	@include media("<650px") {
		display: flex;
		flex-flow: column;
		height: fit-content;
		>:first-child {
			margin-bottom: 5px;
		}
		margin-bottom: 10px;
	}

	.label {
		@include gridLabel;
	}
	.value {
		@include gridValue;
	}
}
