@import "src/styles/utils";

.BlockList-tableRow {
	@include tableRow;

	.tablePointerCell {
		@include tablePointerCell;
		@include tableElemPadding;
	}

	.tablePointerMiniCell {
		@include tablePointerCellWidth140;
		@include tableElemPadding;
	}

	.tableCell {
		@include tableCellWidth300;
		@include tableElemPadding;
	}
}

.text {
	font-family: "Open Sans", serif;
	font-size: 13px;
	font-weight: normal;
	font-stretch: normal;
	font-style: normal;
	line-height: 1.15;
	letter-spacing: normal;
	color: #4b525d;

	.decimal {
		font-size: 11px;
	}

	.BNB {
		font-size: 11px;
		color: #f0b90b;
	}

	.blueColor {
		color: #4472de;
	}
}
