@import 'src/styles/utils';

.card-template {
    min-height: calc(100% - 12px);
    padding: 15px 20px;
    border-radius: 5px;
    background-color: #ffffff;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
    margin-bottom: 12px;

    @include media("<medium") {
        padding: 10px 12px;
    }
}