@import "src/styles/utils";

.SearchArea {
	width: 100%;
	height: fit-content;

	position: relative;
	overflow: hidden;

	background-size: cover;

	background: linear-gradient(rgba(0,0,0, 0.1), rgba(0,0,0, 0.1)), url("../../../assets/dashboard/main_img.png") no-repeat fixed center center;
	background-position-y: inherit;

	@include media(">1880px") {
		background-size: cover;
	}
	@include media("<large") {
		width: calc(100% + 30px);
		margin-left: -15px;
	}

	@include media("<medium") {
		margin-top: 0;
		background: #0A0E11;
		width: calc(100% + 20px);
		margin-left: -10px;
	}

	display: flex;
	flex-flow: column;
	align-items: center;

	.wrapper {
		display: flex;
		flex-flow: column;
		align-items: center;

		background: transparent;
		width: 708px;
		height: 100%;

		@include media("<medium") {
			width: 82%;
		}

		@include media("<=small") {
			width: 95%;
			justify-content: center;
		}

		@include media("<205px") {
			width: 205px;
		}

		.title-wrapper {
			margin: 40px 0 0 0;
			display: flex;
			flex-flow: column;
			justify-content: space-between;

			@include media("<large") {
				margin: 40px 0 0 0;
			}

			@include media("<medium") {
				margin: 30px 0 0 0;
			}

			@include media("<=small") {
				margin: 20px 0 0 0;
			}

			.title {
				font-family: Montserrat, serif;
				font-size: 50px;
				font-weight: 300;
				font-stretch: normal;
				font-style: normal;
				line-height: 0.8;
				letter-spacing: normal;
				text-align: left;
				color: #f1bd10;
				word-wrap: break-word;

				span {
					color: #ffffff;
				}

				@include media("<large") {
					font-size: 40px;
				}

				@include media("<medium") {
					font-size: 34px;
				}

				@include media("<=small") {
					font-size: 22px;
				}
			}

			.byCosmostation {
				margin-top: 6px;
				align-self: flex-end;

				height: 22px;
				font-family: Montserrat, serif;
				font-size: 18px;
				font-weight: 300;
				font-stretch: normal;
				font-style: normal;
				line-height: 1.22;
				letter-spacing: normal;
				text-align: left;
				color: #b2b6bc;

				@include media("<large") {
					font-size: 16px;
				}

				@include media("<medium") {
					font-size: 14px;
				}
			}
		}

		.search-wrapper {
			margin: 30px 0 0 0;
			width: 100%;
			height: fit-content;
			@include media("<medium") {
				margin: 15px 0 0 0;
				width: 80%;
			}
			
			@include media("<=small") {
				width: 100%;
				padding: 0 5px;
			}

			.search {
				position: relative;
				border-radius: 5px;
				overflow: hidden;
				text-overflow: ellipsis;
				height: 45px;
				margin: 0;
				padding: 0;
				display: flex;
				align-self: center;
				background: var(--colorSearchInput);
				border: 1px solid var(--colorSearchInput);

				@include media("<medium") {
					width: 100%;
					height: 40px;
				}

				@include media("<=small") {
					height: 32px;
				}

				.input {
					padding: 8px 16px;
					height: 100%;
					width: 100%;
					background: var(--colorWhite);
					color: var(--colorMainText);
					font-size: var(--fontSizeMain);
					@include media("<=small") {
						margin-left: -5px;
						font-size: 10px;
					}

					&::placeholder {
						font-size: var(--fontSizeMain);
						color: var(--fontSizeDassSearchPh);
						line-height: inherit;
					}
				}

				.searchBtn {
					display: flex;
					justify-content: center;
					align-items: center;
					cursor: pointer;
					border: 1px solid var(--colorSearchInput);
					border-radius: 0 5px 5px 0;
					background: var(--colorSearchInput);
					outline: var(--colorSearchInput);
					padding: 0 10.5px;

					@include media("<medium") {
						padding: 0px 5px;
					}
					.searchIcon {
						width: 32px;
						height: 32px;
						@include media("<medium") {
							width: 24px;
							height: 24px;
						}
					}
				}
			}
		}

		.link-wrapper {
			display: flex;
			flex-direction: column;
			align-items: center;
			width: 100%;

			margin: 40px 0;

			@include media("<medium") {
				margin: 25px 0;
				width: 80%;
			}
			@include media("<small") {
				margin: 15px 0;
				width: 100%;
				padding: 0 5px;
			}

			p {
				color: #ffffff;
				font-family: "Montserrat", serif;
				font-size: 18px;
				margin-bottom: 10px;

				@include media("<medium") {
					font-size: 12px;
					margin-bottom: 5px;
				}
			}

			.link-btn-wrapper {
				width: 100%;
				display: grid;
				grid-auto-flow: column;
				grid-gap: 10px;
				grid-template-columns: repeat(2, 1fr);
			}

			@include media("<medium") {
				grid-gap: 8px;
			}
		}
	}
}
