@import "src/styles/utils";

.AssetsTable-wrapper {
	overflow-x: auto;
	overflow-y: hidden;

	display: flex;
	flex-flow: column;

	@include card-nopadding-wrapper;
	padding: 20px;
	margin-bottom: 70px;
	.table {
		@include media("<asset_table_limit") {
			display: none;
		}
		.tableHeaderCell {
			@include tableHeaderCellWidth300;
			padding: 20px 20px 14px 20px;
			color: var(--colorMainText);
			.header-content {
				margin-left: auto;
				&.name {
					margin-left: 0;
				}
				width: fit-content;
				display: flex;
				align-items: center;
				span {
					margin-right: 6px;
				}
			}
		}
		.nameCell {
			max-width: 250px;
		}

		.OwnerCell {
			width: 200px;
		}
	}
	.search-wrapper {
		width: 100%;
		display: flex;
		flex-flow: row;
		justify-content: flex-end;

		.search {
			width: 300px;
			border-radius: 5px;
			overflow: hidden;
			text-overflow: ellipsis;
			height: 30px;
			padding: 0;
			display: flex;
			background: var(--colorSearchInput);
			border: 1px solid #bebebe;

			margin-right: 15px;
			@include media("<medium") {
				height: 40px;
			}

			@include media("<small") {
				width: 100%;
				height: 32px;
			}

			.input {
				padding: 8px 16px;
				height: 100%;
				width: 100%;
				background: var(--colorWhite);
				color: var(--colorMainText);
				font-size: var(--fontSizeMain);
				&::placeholder {
					font-size: var(--fontSizeMain);
					color: var(--fontSizeDassSearchPh);
					line-height: inherit;
				}
			}
		}
		.searchBtn {
			width: 87px;
			height: 30px;
			display: block;
			cursor: pointer;
			border: 1px solid var(--colorSearchInput);
			border-radius: 5px;
			background-color: #222222;
			outline: var(--colorSearchInput);
			color: #ffffff;
			font-size: 15px;

			@include media("<medium") {
				padding: 0px 5px;
			}
		}
	}
	.table-thin {
		@include media(">asset_table_limit") {
			display: none;
		}
		width: 100%;
		height: fit-content;
		padding: 16px 0;
	}
}

.hide {
	visibility: hidden !important;
	max-height: 0 !important;
	margin: 0 !important;
	padding: 0 !important;
}