@import "src/styles/utils";

.BlockList {
  display: flex;
  flex-flow: column;
  justify-content: center;

  margin-top: var(--mainDefaultPaddingTop);

  .Card {
    @include card-wrapper(70px);;
  }
}