@import "src/styles/utils";

$customPadding: 8px 15px 7px 10px;
.txDisplay-tableRow {
	@include tableRow;
	font-family: "Open Sans", serif;
	font-weight: normal;
	font-stretch: normal;
	font-style: normal;
	line-height: 3.85;
	letter-spacing: normal;
	text-align: left;
	color: #4b525d;
	height: 51px;

	.tablePointerCell {
		@include tablePointerCell;
		width: 150px;
		padding: $customPadding;
	}

	.tablePointerMiniCell {
		@include tablePointerCellWidth140;
		padding: $customPadding;
	}

	.tableCell {
		@include tableCellWidth300;
		padding: $customPadding;
	}

	.time {
		line-height: 1.38;
		color: #4b525d;
		width: 80px;
		padding: 8px 20px 7px 0;
	}
	.height {
		@include media("<dash_table_limit") {
			display: none;
		}
	}
	.txHash {
		padding: 8px 5px 7px 10px;
	}
	.typeWidth {
		padding: 8px 10px 7px 5px;
	}
}

.text {
	font-family: "Open Sans", serif;
	font-size: 13px;
	font-weight: normal;
	font-stretch: normal;
	font-style: normal;
	line-height: 1.15;
	letter-spacing: normal;
	color: #4b525d;
	min-width: 100px;

	.type {
		padding: 2px 10px;
		width: fit-content;
		height: 22px;
		border-radius: 100px;
		background-color: #f9df67;
		color: #222222;
	}
}

.blueColor {
	color: #4472de;
}

.decimal {
	font-size: 11px;
}

.BNB {
	font-size: 11px;
	color: #f0b90b;
}

.currency {
	font-size: 11px;
}
